<%= render 'layouts/products_header' %>

<div class="container text-center">
  <ul>
    <% for list in @lists %>
      <li>
        <%= link_to list.title, list_path(slug: list.session_id) %>
        <%= link_to "удалить", list_path(slug: list.session_id), 
          method: :delete, data: { confirm: "Вы уверены?" },
          style: "margin-left: 30px; color: gray;" %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Начать новый список", new_list_path %>
</div>