<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Пользовалель <%= @name %>, эл.почта <%= @email %></h1>
    <p>Текст сообщения:</p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>