.navbar-brand {
  padding: 0 !important;
}

.main-logo {
  width: 153px;
}

.flash_notice, .flash_error {
  padding: 5px 15px;
  background-color: #FFAB00;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 1031;

  a {
    color: white;
  }
}

header.catalog {
  position: absolute;

  a:last-child {
    position: relative;
  }

  .products-count {
    color: orange;
    z-index: 4;
    position: relative;
    background-color: #FFF;
    border-radius: 30px;
    width: 22px;
    height: 22px;
    display: inline-block;
  }
}

h1 {
  margin-top: 30px !important;
  text-align: center;
}

.hidden-only {
  display: none !important;
}

.table-wrapper {
  padding-bottom: 30px;
  text-align: center;

  form {
    padding: 0;
    background: none;
    margin: 0 auto;
    position: relative;
    display: block;

    .datagrid-filter {
      display: inline-block;
      margin: 0;
    }

    .datagrid-actions {
      display: inline-block;
      padding: 0;
      position: relative;
      top: -25px;
    }
  }

  table {
    margin: 0 auto;
    text-align: left;

    .order {
      display: inline-block;
    }

    .product-item {
      border: none;
      background: none;
      text-align: left; 
    }

    .product-count {
      text-align: center;
      color: #fff;
      position: absolute;
      width: 1.8vw;
      height: 1.8vw;
      border-radius: 30px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: orange;
      opacity: 0;
      transition: opacity 0.15s;

      &.pressed {
        opacity: 1;
      }
    }
  }
}

@media(max-width: 1023px){
  header.catalog {
    width: 100%;
    a:last-child {
      float: right;
    }
  }

  .table-wrapper {
    table {
      .product-count {
        width: 23px;
        height: 23px;
      }
    }
  }
}

@media(max-width: 767px){
  .flash_notice, .flash_error {
    position: fixed;
    bottom: 0;
  }

  header.catalog {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }
  h1 {
    margin-top: 80px !important;
  }
  .table-wrapper {
    form {
      margin-bottom: 10px;
      &.product-form {
        margin-bottom: 0;
      }
      .datagrid-filter {
        width: 90%;
        input {
          width: 100%;
        }
        label {
          display: none;
        }
      }
      .datagrid-actions {
        top: 0;
      }
    }
    table {
      margin: 0 10px 30px;
      &.datagrid {
        td, th {
          padding: 5px;
        }
      }
      th {
        font-size: 0.8em;
        &.name {
          width: calc(100% - 130px);
        }
        a {
          border-radius: 20px;
          border: 1px solid gray;
          padding: 0 2px;
        }
      }
      td.name {
        width: calc(100% - 130px);
        font-size: 0.85em;
      }
      td.price {
        width: 80px;
      }
    }
  }
}

.field {
  margin-bottom: 20px;
}

.product-image {
  float: left;
}

.dropdown-lists {
  display: inline-block;
  left: -3px;

  & > a {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}