<header><a href="/" data-turbolinks="false" class="btn btn-primary">На главную</a></header>
<h1>Каталог продукции</h1>
<div class="table-wrapper">
  <%= datagrid_form_for @grid, :method => :get, :url => products_path %>
  
  <%= datagrid_table @grid %>
  <%= paginate(@grid.assets) %>
</div>